OPEN_WEATHER_MAP_API_KEY=your_api_key

AWS_BUCKET_NAME=your_bucket_name
AWS_REGION_NAME=your_region_name
AWS_ACCESS_KEY=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_access_key

AWS_RDS_HOST=your_rds_host
AWS_RDS_PORT=5432
AWS_RDS_USER=your_rds_user
AWS_RDS_PASSWORD=your_rds_password
AWS_RDS_DATABASE=your_database