[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">=2.0"
requests = "*"
python-dotenv = "*"
numpy = ">=1.25"
plotly = ">=5.0"

[dev-packages]
jupyter = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
